<h1>Cart</h1>
{{#each cart.products}}
  <div>
    <h3>{{this.product.name}}</h3>
    <p>{{this.product.description}}</p>
    <p>Price: ${{this.product.price}}</p>
    <p>Quantity: {{this.quantity}}</p>
  </div>
{{/each}}
<p>Total: ${{cart.total}}</p>