{{#each infoProductos}}
  <div>
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>Price: ${{this.price}}</p>
    <p>Category: {{this.category}}</p>
    <form action="/carts/add" method="POST">
      <input type="hidden" name="productId" value="{{_id}}">
      <button type="submit">Add to cart</button>
    </form>
  </div>
{{/each}}


<div>
  <a href="?page={{prevPage}}">Previous</a>
  <a href="?page={{nextPage}}">Next</a>
  
</div>
