{{#each limitedProducts}}
<ul>
    <li>nombre: {{this.title}}</li>
    <li>description: {{this.description}}</li>
    <li>stock: {{this.stock}}</li>
    <li>precio: {{this.price}}</li>
</ul>
{{/each}}

<ul>
    <li>nombre: {{title}}</li>
    <li>description: {{description}}</li>
    <li>stock: {{stock}}</li>
    <li>precio: {{price}}</li>
</ul>
